﻿<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hola, @context.User.Identity.Name!</a>
        <form action="Identity/Account/LogOut" method="post">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registro</a>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
