﻿@page "/residentes"
@inject IResidentesService residenteService
@inject IJSRuntime JSRuntime
@using EvaluateR.Data.Residentes


    <AuthorizeView>
        <Authorized>
            @*<div class="col-lg-12 col-sm-12 col-md-12">
                <h3>Introducir información de los Residentes</h3>
                <hr />
                <ServerValidation IsVisible="IsVisible">
                    @RecordName
                </ServerValidation>

                <EditForm Model="@residente" OnValidSubmit="@SaveResidente">
                    <div class="col-lg-12 col-sm-12 col-md-12 row">
                        <label class="col-lg-12 col-sm-12 col-md-12 font-weight-bold">Nombre:</label>
                        <input @ref="NombreText" class="form-control col-lg-3 col-sm-3 col-md-3" @bind="residente.Nombre" placeholder="Nombre" />
                        &nbsp;<ValidationMessage For="(() => residente.Nombre)" />
                    </div>
                    <br />
                    <div class="col-lg-12 col-sm-12 col-md-12 row">
                        <label class="col-lg-12 col-sm-12 col-md-12 font-weight-bold">Año Residencia:</label>
                        <InputNumber class="form-control col-lg-3 col-sm-3 col-md-3" @bind-Value="residente.RYear" placeholder="Año Residencia" />
                        &nbsp;<ValidationMessage For="(() => residente.RYear)" />
                    </div>
                    <br />
                    <div class="col-lg-12 col-sm-12 col-md-12 row">
                        <span class="col-lg-2 col-sm-2 col-md-2"></span>
                        <input type="submit" class="form-control col-lg-1, col-md-1 col-sm-1 btn btn-primary" value="Guardar" />
                        <span>&nbsp;</span>
                        <input type="submit" class="form-control col-lg-1, col-md-1 col-sm-1 btn btn-primary" value="Limpiar" />
                    </div>

                </EditForm>

            </div>

            <br />*@

            <div class="col-lg-10 col-sm-10 col-md-10">

                <h3><b>Residentes</b></h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Año Residente</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var residente in ResidentesList)
                        {
                            <tr>
                                <td>
                                    <NavLink href=@string.Format("/residentes/ResidenteDetail/{0}", residente.Id)>
                                        Id: @residente.Id
                                    </NavLink>
                                </td>
                                <td>@residente.Nombre</td>
                                <td>@residente.AnyoResidencia</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            @code {

                public Residente residente { get; set; }
                public List<Residente> ResidentesList { get; set; }
                ElementReference NombreText;


                public bool IsVisible { get; set; }
                public string RecordName { get; set; }

                protected override void OnInitialized()
                {
                    residente = new Residente();
                    ResidentesList = residenteService.GetResidentes();
                    IsVisible = false;
                }

                private async Task SaveResidente()
                {
                    residenteService.SaveResidente(residente);
                    IsVisible = true;
                    var Nombre = residente.Nombre;
                    RecordName = residente.Nombre;
                    residente = new Residente();


                    //await JSRuntime.InvokeVoidAsync("saveMessage", Nombre);
                    await JSRuntime.InvokeVoidAsync("setFocusOnElement", NombreText);
                }

            }
        </Authorized>

        <NotAuthorized>
            <div class="col-lg-12 col-md-12 col-sm-12 row">
                <p>
                    No tiene acceso para ver el contenido. <a href="Identity/Account/Register">Registrese</a> o haga <a href="Identity/Account/Login">login</a> para poder ver el contenido.
                </p>
                
            </div>
</NotAuthorized>

    </AuthorizeView>

